/* Estilos para el encabezado */
.header {
  display: flex;
  align-items: center;
  background-color: #10d49a;
  color: white;
  min-height: 5vh;
  max-height: 5vh;
  padding: 0 16px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  width: 100vw;
}

/* Estilos para el contenedor del logo y el título de la aplicación */
.logo-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logo {
  height: 4vh;
  margin-right: 16px;
}

.linkNav {
  padding-left: 8vw;
  display: flex;
  align-items: center;
}

.logoNav {
  padding-left: 6vw;
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 24px;
  margin: 0;
}

/* Estilos para la barra de navegación */
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin-right: 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.login {
  padding-right: 5vw;
  padding-top: 5px;
}

/* Estilos para los botones de inicio de sesión y cierre de sesión */
.login-button,
.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0fbd88;
  }
}

.button-icon {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.button-text {
  font-size: 16px;
}

.nav-link:visited {
  color: white;
  text-decoration: none;
}
