.profile-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.user-information {
  background-color: #17d299;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 62vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset,
    rgb(7, 56, 7) 0px 2px 10px -1px, 7px 7px 9px 6px rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset, rgb(7, 56, 7) 0px 2px 10px -1px,
    7px 7px 9px 6px rgba(0, 0, 0, 0);
}

.userPicture {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userPicture > img {
  width: 20vw;
  max-width: 60%;
}

.userInfo {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.userInfo > h1,
.userInfo > h3 {
  width: 80%;
  margin: 0;
  word-wrap: break-word;
}

.userInfo > h1 {
  padding-top: 5%;
}

.userInfo > h3 {
  padding-bottom: 15%;
}

.user-features {
  margin-left: 40px;
  height: 62vh;
  width: 35vw;
  max-width: 35vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.userInfoCard-container {
  height: 50%;
  width: 50%;
  padding: 15px;
}

.cardInfo {
  background-color: rgb(235, 235, 235);
  height: 90%;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset,
    rgba(0, 0, 0, 0.5) 0px -22px 119px -42px, 7px 7px 9px 6px rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset,
    rgba(0, 0, 0, 0.5) 0px 3px 119px -42px, 7px 7px 9px 6px rgba(0, 0, 0, 0);
}

.cardLine {
  height: 10px;
  background-color: blue;
}

.cardInfo-image {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.cardInfo-image > img {
  height: 80%;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: #8800ea;
}

.blue {
  background-color: blue;
}

.cardInfo-Info {
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  text-align: initial;
}

.cardInfo-Info > h2 {
  font-size: 1.6rem;
}
